.FlashSale-Container{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.flashsale-box-white{
    background-color: #fff;
    width: 20%;
}
.flashsale-box-blue{
    background-color: #8AC6D1;
    width: 80%;
}
/* Text */
.flash-text p{
    font-size: 2.5em;
    border: 1px solid red;
}
.flash-text span{
    font-size: 3.5em;
    border: 1px solid red;
}
/* Text */

/* Icon */
.icon-flash{
    display: flex;
}
/* Icon */