.sliderimg{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 536px;
    object-fit: cover;
    padding: 0 !important;
  }

.alice-carousel__prev-btn{
  display: none !important;
}
.alice-carousel__next-btn{
  display: none !important;
}

.alice-carousel__dots-item:not(.__custom):hover, 
.alice-carousel__dots-item:not(.__custom).__active{
  background-color: #FAE3D9 !important;
}

@media screen and (max-width:375px){
  .sliderimg{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 200px;
    object-fit: cover;
  }
}
  @media screen and (min-width: 376px) and (max-width: 768px) {
    .sliderimg{
      margin: auto;
      display: flex;
      justify-content: center;
      width: 90%;
      height: 200px;
      object-fit: cover;
    }
  }

